<% books.forEach(book=> { %>
    <div class="card">
      <div class="imgBx">
        <img src='<%=book.image_url%>'>
      </div>
      <div class="content">
        <h4><%= book.title %></h4>
        <h3><%= book.author %> 
          <%= book.isbn %></h3>
        <p><%= book.description %></p>
      </div>
    </div>
    <% }) %>
    