<% books.forEach( book=> { %>
<form action="book/<%= book.id %>?_method=PUT" method="POST">
  <input type="text" name="author" value= "<%= book.author %>">
  <input type="text" name="title" value="<%= book.title %>">
  <input type="text" name="isbn" value=" <%= book.isbn %>">
  <input type="text" name="img" value="<%=book.img%>">
  <input type="text"  name="description" value= "<%= book.description %>">
  <input  type="submit" name="submit" id="submitBtn">
</form>

<% }) %>
