<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book details</title>
  <link rel="stylesheet" href="/styles/layout.css">

</head>
<body>
  <main>
    <h2>Best Books!</h2>
    <h4>Search Result</h4>

    <div class="container">
      <% let counter =0 ; %>

      <% books.forEach(book=> { %>
        <div class="card">
          <div class="imgBx">
            <img src='<%=book.image_url%>'>
          </div>
          <div class="content">
            <h4><%= book.title %></h4>
            <h3><%= book.author %> 
              <%= book.isbn %></h3>
            <p><%= book.description %>
          </div>
        </div>
        <% }) %>
              
    </div>
  </main>
</body>
</html>
