<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/layout.css">

</head>

<body>

  <main>
    <!-- <ul>
      <li><a href="#">home</a></li>
      <li><a href="searches/new">search</a></li>
    </ul> -->
    <nav>
      <ul>
        <li><a href="/">Best Books!</a></li>
        <li><a href="/">home</a></li>
        <li><a href="searches/new">search</a></li>
      </ul>
    </nav>

    <h4>My Book Collection (<%= total %>)</h4>
    <div class="container">
      <% books.forEach(book=> { %>
        <div class="card">
          <div class="imgBx">
            <img src='<%=book.image_url%>'>
          </div>
          <div class="content">
            <h4><%= book.title %></h4>
            <h3><%= book.author %> </h3>
            <!-- <h3> <%= book.isbn %></h3>
            <p><%= book.description %></p> -->
            <form action="/books/<%= book.id %>" method="get">
            <input type="submit" name="view details"id="submitBtn" value="view details">
            </form>
          </div>
        </div>
        <% }) %>
  </main>
</body>

</html>