<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/layout.css">

</head>

<body>
  <main>
    <h4>My Book Collection</h4>


    <div class="container">
      <% books.forEach(book=> { %>
        <div class="card">
          <div class="imgBx">
            <img src='<%=book.image_url%>'>
          </div>
          <div class="content">
            <h4><%= book.title %></h4>
            <h3><%= book.author %> </h3>
            <!-- <h3> <%= book.isbn %></h3>
            <p><%= book.description %></p> -->
            <form action="/books/<%= book.id %>" method="get">
            <input type="submit" name="view details">
            </form>
          </div>
          <!-- <form action="\" method="get"></form> -->
        </div>
        <% }) %>
  </main>
</body>

</html>