<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/layout.css">

</head>
<body>
  <main>
    <h2>Best Books!</h2>
    <h4>Search Result</h4>

    <div class="container">
      <% let counter =0 ; %>

      <% searchResults.forEach( book=> { %>
        <div class="card">
          <div class="imgBx">
            <img src='<%=book.img.thumbnail%>'>
          </div>
          <div class="content">
            <h4>
              <%= book.title %>
            </h4>
            <h3>
              <%= book.authers %>
              <%= book.ispn %>

            </h3>
            <p>
              <%= book.description %>
            </p>
          </div>
          <form action="/" method="POST" >
            <input type="hidden" name="authers" value= "<%= book.authers %>">
            <input type="hidden" name="title" value="<%= book.title %>">
            <input type="hidden" name="ispn" value=" <%= book.ispn %>">
            <input type="hidden" name="img" value="<%=book.img.thumbnail%>">
            <input type="hidden"  name="description" value= "<%= book.description %>">
            <input  type="submit" name="submit" id="submitBtn">
            </form>
        </div>
        <% }) %>
        
       
  
      
  
        
    </div>
  </main>
</body>
</html>
